.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.card {
    display: flex;
    width: 30%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}